<main id="main" class="main">
    <div class="pagetitle">
        <h1>PRODUCTS</h1>
        <nav>
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="#!/">Home</a></li>
                <li class="breadcrumb-item active">List Product</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <h5 class="card-header"> <a href="#!/add-product" class="btn btn-success ">Add Producs</a></h5>
                    <div class="card-body">

                        <p class="card-text d-flex justify-content-end mt-3">
                            <input class="form-control  w-25 " type="search" placeholder="Search" ng-model="loc" aria-label="Search">
                        </p>
                        <table class="table table-hover table-sm text-center">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name<i class=" ms-1 bi bi-arrow-down-up" ng-click="sortData('name')"></i></th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Price<i class=" ms-1 bi bi-arrow-down-up " ng-click="sortData('price')"></i></th>
                                    <th scope="col">Sale<i class=" ms-1 bi bi-arrow-down-up " ng-click="sortData('sale')"></i></th>
                                    <th scope="col">Content</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Act</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr class="align-baseline" ng-repeat="(index,value) in ListPro | orderBy : columnName : reserve | filter: {name : loc} ">
                                    <th scope="row" ng-bind="index+1"></th>
                                    <td>{{ value.name| uppercase}}</td>
                                    <td><img src="{{value.image}}" alt="" width="100"></td>
                                    <td class="text-danger">{{value.price | currency }}</td>
                                    <td>{{value.sale}}%</td>
                                    <td>{{value.content}}</td>
                                    <td ng-if="checkCondition(value.cate)">{{namecate}}</td>
                                    <td ng-if="checkAutur(value.authu)">{{hihi}}</td>
                                    <td>
                                        <a class="btn btn bg-success text-light" href="#!/detail/{{value.id}}"><i class="fa-solid fa-pen"></i></a>
                                        <button id="showAlertButton" class="btn btn-danger" ng-click="deletePro(value.id)"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>