<footer class="pt-5">
    <div class="container-fluid top_bar h-100  bg-black ">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-3 col-12 text-white">
                    <div class="mb-4">
                        <img src="../lib/img/logo/logo-2.svg" alt="">
                    </div>
                    <div class="text-start font-10">
                        <small>when an unknown printer took galley of type and scrambled it to make pspecimen bookt has.</small>
                        <ul class="list-unstyled mt-3">
                            <li>463 7th Ave, NY 10018, USA></li>
                            <li>+123 88 9900 456></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-white">
                    <div class="mb-4">
                        <h5 class="fw-bold">Useful Links</h5>
                    </div>
                    <div class="text-start font-10">

                        <ul class="list-unstyled mt-3">
                            <li class="my-1">Our values</li>
                            <li class="my-1">Our advisory board</li>
                            <li class="my-1">Our partners</li>
                            <li class="my-1">Become a partner</li>
                            <li class="my-1">Work at Future Learn</li>
                            <li class="my-1">Quizlet Plus</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-white">
                    <div class="mb-4">
                        <h5 class="fw-bold">Our Company</h5>
                    </div>
                    <div class="text-start font-10">

                        <ul class="list-unstyled mt-3">
                            <li class="my-1">Contact Us</li>
                            <li class="my-1">Become Teacher</li>
                            <li class="my-1">Blog</li>
                            <li class="my-1">Instructor</li>
                            <li class="my-1">Even</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 text-white">
                    <div class="mb-4">
                        <h5 class="fw-bold">Get In Touch</h5>
                    </div>
                    <div class="text-start font-10 my-3">

                        <small>when an unknown printer took
                galley type and scrambled</small>
                    </div>
                    <div>
                        <i class="fa-brands fa-facebook me-2"></i>
                        <i class="fa-brands fa-twitter me-2"></i>
                        <i class="fa-brands fa-instagram me-2"></i>
                        <i class="fa-brands fa-youtube me-2"></i>
                    </div>
                    <div class="d-flex mt-3 w-100">
                        <img src="../lib/img/icon/google_play.png" class="w-50">
                        <img src="../lib/img/icon/app_store.png" class="w-50">
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>