<header class="mt-3" ng-controller="header">
    <div class="container">
        <!--  start top  header -->
        <div class="row d-none d-xxl-flex border-bottom pb-3">
            <div class="col-5">
                <p class="m-0"><span class="text-warning fw-bold">Call us </span>free 24/7 : (+84) 98-567-9042 <span class="boder"> <i class="fa-solid mx-2 fa-envelope text-warning"></i>
                        phuongcao123@gmail.com</span> </p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <p class="m-0  d-flex justify-content-end">
                    <span class="me-1"><i class="fa-solid fa-sun text-warning"></i> 30 degree</span>
                    <span class="boder me-1"> <i class="fa-solid text-warning mx-2 fa-city"></i>Ha Noi</span>
                    <span class="boder me-1"> <i class="fa-solid fa-star text-warning mx-2 "></i>My Wishlist</span>
                    <span class="boder me-1"> <i
                            class="fa-regular fa-circle-check text-warning mx-2"></i>Checkout</span>
                    <span class="boder"> <i class="fa-regular fa-money-bill-1 text-warning mx-2"></i>USD</span>
                </p>
            </div>
        </div>
        <!-- end top header -->
        <!--  start logo -->
        <div class="row d-none d-xl-flex mt-2 align-items-center">
            <div class="col-2">
                <a href="#!/"><img src="../lib/img/logo/logo.svg" alt=""></a>
            </div>
            <div class="col-2"><i class="fa-regular fa-calendar-days text-warning mx-1"></i>Friday - Jul 15, 2024
            </div>

            <div class="col-4  p-2 rounded ">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="col-1"></div>
            <div class="col-1 mx-5 p-2">
                <div class="btn-group">
                    <button type="button" class="btn rounded-pill border dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../lib/img/icon/usd_flag.png" class="me-1" alt="">English
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Vietnamese</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1 d-flex justify-content-between">
                <a href="" class="link-dark me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="link-dark me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="twitter"> <i class="fa-brands fa-twitter"></i></a>
                <a href="" class="link-dark me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="tiktok"> <i class="fa-brands fa-tiktok"></i></a>
                <a href="" class="link-dark me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="youtube"> <i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <!-- end logo -->
        <!-- start menu  -->
        <div class="row d-lg-none">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#!/"><img src="../lib/img/logo/logo.svg" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#!/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#!/shop">Shop</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Accesories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Blogs
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pages
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Contact
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-3 ">
                            <li class="nav-item">
                                <a href="#!/cart" class="btn btn-danger text-light"> Cart </a>
                                <a href="#!/login" class="btn btn-warning text-light" ng-show="check.userName"><i class="fa-solid fa-user"></i> Login</a>
                                <div class="dropdown-center  mt-2" ng-show="check.hien">
                                    <button class="btn btn-warning text-light  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-user"></i>    Hi , {{userName}}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li><a class="dropdown-item" href="../../admin/index.html" ng-show="check.roles">Cpane admin</a></li>
                                        <li><button class="dropdown-item" ng-click="logout()">Log Out</button></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row d-none d-lg-block mt-3 bg-body-secondary p-2">
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <div class="col-2 text-light p-2 bg-warning me-3">
                        <i class="fa-solid fa-bars me-2"></i> Browse Categories

                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-5">
                            <li class="nav-item">
                                <a class="nav-link fw-bold active" aria-current="page" href="#!/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold " href="#!/shop">Shop</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Accesories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Blogs
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pages
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Contact
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>


                        <button type="button" class="rounded-circle border-1 mx-4 btn btn-outline-danger  position-relative">
                            <i class="fa-solid fa-heart"></i>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                0
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                        <a type="button" href="#!/cart" class="rounded-circle border-1 me-4 btn btn-outline-danger  position-relative">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                <div class="" ng-if="count== undefined "> 0</div>
                                <div class="" ng-if="count== 0 "> 0</div>
                              <div class="" ng-if="  count < 10 && count != 0 ">   0{{count}}</div>
                              <div class="" ng-if="count > 10 ">   {{count}}</div>
                             
                            </span>
                        </a>

                        <!-- <a href="#!/login" class="btn btn-warning text-light"><i class="fa-solid fa-user"></i> Login  </a> -->
                        <a href="#!/login" class="btn btn-warning text-light" ng-show="check.userName"><i class="fa-solid fa-user"></i> Login</a>
                        <div class="dropdown-center" ng-show="check.hien">
                            <button class="btn btn-warning text-light  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>    Hi , {{userName}}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="../../admin/index.html" ng-show="check.roles">Cpane admin</a></li>
                                <li><button class="dropdown-item" ng-click="logout()">Log Out</button></li>
                            </ul>
                        </div>

                        </ul>
                    </div>

                </div>
            </nav>
        </div>
</header>