

<main class="my-2">
    <div class="container">
        <div class="row mt-2  ">

            <div class="container-fluid">
                <div class="row">
                    <div class="ms-2 col-lg-2 d-none d-lg-inline  p-0  ">
                        <ul class="list-group  navbar-nav">
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-solid fa-headphones me-1 "></i> Bluetooth
                                    speaker</a></li>
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-solid fa-camera me-1 "></i> Digital camera</a>
                            </li>
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-solid fa-tv me-1 "></i> Telivsion & Monitor</a>
                            </li>
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-solid fa-robot me-1 "></i> Robotics vacuum</a>
                            </li>
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-solid fa-gauge me-1 "></i></i> Washing machine</a>
                            </li>
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-regular fa-clock me-1 "></i> Smart Watch</a></li>
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-solid fa-mobile me-1 "></i> Smartphone</a></li>
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-solid fa-keyboard me-1 "></i> Accessory</a></li>
                            <li class="list-group-item align-content-center nav-item "><a href="" class="nav-link"><i class="fa-solid fa-keyboard me-1 "></i> Accessory</a></li>
        
                        </ul>
                    </div>
        
                    <div class="col-lg-9 col-12  ms-lg-4 ">
                        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active rounded-2">
                                    <img src="../lib/img/sile/slider_item_3_image.webp" class="w-100 " height="450px" alt="...">
                                </div>
                                <div class="carousel-item rounded-2">
                                    <img src="../lib/img/sile/slider_item_4_image.webp" class="w-100 " height="450px" alt="...">
                                </div>
                                <div class="carousel-item rounded-2">
                                    <img src="../lib/img/sile/slider_1.webp" class="w-100 rounded-2 " height="450px" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
        
        
        
            </div>
        
        </div>
        <!-- end menu  -->
        </div>
        <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <mark class="rounded-pill px-3 ">Trending Categories</mark>
                <h4 class="my-2">Top Category We Have</h4>
            </div>
            <div class="col-12">
                <div class="container position-relative">
                    <div class="row  overflow-hidden flex-nowrap  py-4 px-1">
        
                        <a href="#" class="col-xl-2  nav-link  col-lg-3 col-6 col-md-4 align-items-center justify-content-center d-flex flex-column">
                            <div class="px-3 py-3 ">
                                <i class="fa-solid fa-headphones" style="height: 25px;"></i>
                            </div>
                            <div class="text-center">
                                <p class="m-0">Bluetooth</p>
                            </div>
                        </a>
                        <a href="#" class="col-xl-2  nav-link  col-lg-3 col-6 col-md-4 align-items-center justify-content-center d-flex flex-column">
                            <div class="px-3 py-3 ">
                                <i class="fa-solid fa-mobile" style="height: 25px;"></i>
                            </div>
                            <div class="text-center">
                                <p class="m-0">Smartphone</p>
                            </div>
                        </a>
                        <a href="#" class="col-xl-2  nav-link  col-lg-3 col-6 col-md-4 align-items-center justify-content-center d-flex flex-column">
                            <div class="px-3 py-3 ">
                                <i class="fa-solid fa-robot" style="height: 25px;"></i>
                            </div>
                            <div class="text-center">
                                <p class="m-0">Robot AI</p>
                            </div>
                        </a>
                        <a href="#" class="col-xl-2  nav-link  col-lg-3 col-6 col-md-4 align-items-center justify-content-center d-flex flex-column">
                            <div class="px-3 py-3 ">
                                <i class="fa-solid fa-clock" style="height: 25px;"></i>
                            </div>
                            <div class="text-center">
                                <p class="m-0">Smart Watch</p>
                            </div>
                        </a>
                        <a href="#" class="col-xl-2  nav-link  col-lg-3 col-6 col-md-4 align-items-center justify-content-center d-flex flex-column">
                            <div class="px-3 py-3 ">
                                <i class="fa-solid fa-lightbulb" style="height: 25px;"></i>
                            </div>
                            <div class="text-center">
                                <p class="m-0">Electronice device</p>
                            </div>
                        </a>
                        <a href="#" class="col-xl-2  nav-link  col-lg-3 col-6 col-md-4 align-items-center justify-content-center d-flex flex-column">
                            <div class="px-3 py-3 ">
                                <i class="fa-solid fa-lightbulb" style="height: 25px;"></i>
                            </div>
                            <div class="text-center">
                                <p class="m-0">Accessory</p>
                            </div>
                        </a>
        
        
                    </div>
                    <button class="btn btn-outline-warning  rounded-circle position-absolute start-0 top-50 translate-middle-y d-none d-md-block"><i
                            class="fa-solid fa-arrow-left"></i></button>
                    <button class="btn  btn-outline-warning rounded-circle position-absolute end-0 top-50 translate-middle-y d-none d-md-block"><i
                            class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <!-- top treding -->
        <div class="row d-flex">
            <div class="col-12   border  border-warning p-0 rounded-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 d-none d-xl-inline p-0">
                            <img src="../lib/img/sile/as.png" class="rounded-4 " alt="">
                        </div>
                        <div class="col-xl-9  p-0 px-5 ">
                            <nav class="navbar">
                                <nav aria-label="breadcrumb p-0">
                                    <ol class="breadcrumb  fs-5 p-1 ">
                                        <li class="breadcrumb-item  nav-item border-bottom border-warning pb-3"><a href="#" class="nav-link link-warning fw-bold">Hot</a></li>
                                        <li class="breadcrumb-item active border-bottom  pb-3" aria-current="page">
                                            Top Trending</li>
                                    </ol>
                                </nav>
                                <nav aria-label="breadcrumb p-0">
                                    <ol class="breadcrumb  fs-6 p-1 ">
                                        <li class="breadcrumb-item  nav-item pb-3"><a href="#!/shop" class=" link-warning">All item <i
                                                    class="fa-solid fa-angles-right"></i> </a></li>
                                    </ol>
                                </nav>
                            </nav>

                            <div class="row row-cols-1 row-cols-lg-4 g-4 mb-5">
                                <div class="col" ng-repeat="val in listPro | limitTo : 4">
                                    <div class="card h-100">
                                        <img src="{{val.image}}" class="card-img-top w-50 m-auto"  alt="...">
                                        <div class="card-body">
                                            <div class="card-text d-flex align-items-center ">
                                                <span class="text-warning  ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                                <p class="text-bo ms-3 text-dark mt-3 opacity-50 ">
                                                    (126) Review
                                                </p>
                                            </div>
                                            <h6 hclass="card-title"> <a href="#!/product/{{val.id}}" class="card-title fw-medium fs-6 nav-link">{{val.name | uppercase}}</a></h6>
                                            <p class="card-text text-bo mt-3">
                                                <span class="text-dark opacity-50">Available:</span> 334
                                            </p>
                                            <div class=" d-flex">
                                                <p class="text-danger fw-medium">{{val.price - (val.price * val.sale/100)  |currency }}</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder " ng-if="val.sale != 0 ">{{val.price |currency}}</span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                             
                            </div>
                            <div class="my-5 d-none d-xl-inline text-center">
                                <a href=""><img class=" w-100" src="../lib/img/add/img_03.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end top treding -->
        <div class="row mt-5">
            <!-- Some Product -->
            <div class="col-12  p-0">
                <div class="container">
                    <div class="row p-0">
                        <!--  left Some Product-->
                        <div class="col-xl-9">
                            <div class="container-fluid">
                                <ul class="nav nav-tabs justify-content-between border-1 " id="myTab" role="tablist">
                                    <a class="navbar-brand text-warning fs-5 fw-bold py-2" href="#">Some Product</a>
                                    <ul class="nav nav-pills " id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link  active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recent</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link " id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Best
                                                Seller</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Top</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-new-tab" data-bs-toggle="pill" data-bs-target="#pills-new" type="button" role="tab" aria-controls="pills-new" aria-selected="false">New
                                                Arrivals</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-rating-tab" data-bs-toggle="pill" data-bs-target="#pills-rating" type="button" role="tab" aria-controls="pills-rating" aria-selected="false">Top
                                                Rating</button>
                                        </li>
                                    </ul>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                        <div class="row row-cols-1 row-cols-lg-4 g-4 mb-lg-5 mt-2">
                                            <div class="col" ng-repeat="val in listPro | limitTo : 4">
                                                <div class="card h-100">
                                                   <img src="{{val.image}}" class="card-img-top w-50 m-auto"  alt="...">
                                        <div class="card-body">
                                            <div class="card-text d-flex align-items-center ">
                                                <span class="text-warning  ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                                <p class="text-bo ms-3 text-dark mt-3 opacity-50 ">
                                                    (126) Review
                                                </p>
                                            </div>
                                            <h6 hclass="card-title"> <a href="#!/product/{{val.id}}" class="card-title fw-medium fs-6 nav-link">{{val.name | uppercase}}</a></h6>
                                            <p class="card-text text-bo mt-3">
                                                <span class="text-dark opacity-50">Available:</span> 334
                                            </p>
                                            <div class=" d-flex">
                                                <p class="text-danger fw-medium">{{val.price - (val.price * val.sale/100)  |currency }}</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder " ng-if="val.sale != 0 ">{{val.price |currency}}</span>
                                            </div>

                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                        <div class="row row-cols-1 row-cols-lg-4 g-4 mb-lg-5 mt-2">
                                            <div class="col" ng-repeat="val in listPro | limitTo : 4">
                                                <div class="card h-100">
                                                   <img src="{{val.image}}" class="card-img-top w-50 m-auto"  alt="...">
                                        <div class="card-body">
                                            <div class="card-text d-flex align-items-center ">
                                                <span class="text-warning  ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                                <p class="text-bo ms-3 text-dark mt-3 opacity-50 ">
                                                    (126) Review
                                                </p>
                                            </div>
                                            <h6 hclass="card-title"> <a href="#!/product/{{val.id}}" class="card-title fw-medium fs-6 nav-link">{{val.name | uppercase}}</a></h6>
                                            <p class="card-text text-bo mt-3">
                                                <span class="text-dark opacity-50">Available:</span> 334
                                            </p>
                                            <div class=" d-flex">
                                                <p class="text-danger fw-medium">{{val.price - (val.price * val.sale/100)  |currency }}</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder " ng-if="val.sale != 0 ">{{val.price |currency}}</span>
                                            </div>

                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                                        <div class="row row-cols-1 row-cols-lg-4 g-4 mb-lg-5 mt-2">
                                            <div class="col" ng-repeat="val in listPro | limitTo : 4">
                                                <div class="card h-100">
                                                   <img src="{{val.image}}" class="card-img-top w-50 m-auto"  alt="...">
                                        <div class="card-body">
                                            <div class="card-text d-flex align-items-center ">
                                                <span class="text-warning  ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                                <p class="text-bo ms-3 text-dark mt-3 opacity-50 ">
                                                    (126) Review
                                                </p>
                                            </div>
                                            <h6 hclass="card-title"> <a href="#!/product/{{val.id}}" class="card-title fw-medium fs-6 nav-link">{{val.name | uppercase}}</a></h6>
                                            <p class="card-text text-bo mt-3">
                                                <span class="text-dark opacity-50">Available:</span> 334
                                            </p>
                                            <div class=" d-flex">
                                                <p class="text-danger fw-medium">{{val.price - (val.price * val.sale/100)  |currency }}</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder " ng-if="val.sale != 0 ">{{val.price |currency}}</span>
                                            </div>

                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab" tabindex="0">

                                        <div class="row row-cols-1 row-cols-lg-4 g-4 mb-lg-5 mt-2">
                                            <div class="col" ng-repeat="val in listPro | limitTo : 4">
                                                <div class="card h-100">
                                                   <img src="{{val.image}}" class="card-img-top w-50 m-auto"  alt="...">
                                        <div class="card-body">
                                            <div class="card-text d-flex align-items-center ">
                                                <span class="text-warning  ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                                <p class="text-bo ms-3 text-dark mt-3 opacity-50 ">
                                                    (126) Review
                                                </p>
                                            </div>
                                            <h6 hclass="card-title"> <a href="#!/product/{{val.id}}" class="card-title fw-medium fs-6 nav-link">{{val.name | uppercase}}</a></h6>
                                            <p class="card-text text-bo mt-3">
                                                <span class="text-dark opacity-50">Available:</span> 334
                                            </p>
                                            <div class=" d-flex">
                                                <p class="text-danger fw-medium">{{val.price - (val.price * val.sale/100)  |currency }}</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder " ng-if="val.sale != 0 ">{{val.price |currency}}</span>
                                            </div>

                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-rating" role="tabpanel" aria-labelledby="pills-rating-tab" tabindex="0">
                                        <div class="row row-cols-1 row-cols-lg-4 g-4 mb-lg-5 mt-2">
                                            <div class="col" ng-repeat="val in listPro | limitTo : 4">
                                                <div class="card h-100">
                                                   <img src="{{val.image}}" class="card-img-top w-50 m-auto"  alt="...">
                                        <div class="card-body">
                                            <div class="card-text d-flex align-items-center ">
                                                <span class="text-warning  ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                                <p class="text-bo ms-3 text-dark mt-3 opacity-50 ">
                                                    (126) Review
                                                </p>
                                            </div>
                                            <h6 hclass="card-title"> <a href="#!/product/{{val.id}}" class="card-title fw-medium fs-6 nav-link">{{val.name | uppercase}}</a></h6>
                                            <p class="card-text text-bo mt-3">
                                                <span class="text-dark opacity-50">Available:</span> 334
                                            </p>
                                            <div class=" d-flex">
                                                <p class="text-danger fw-medium">{{val.price - (val.price * val.sale/100)  |currency }}</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder " ng-if="val.sale != 0 ">{{val.price |currency}}</span>
                                            </div>

                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" mt-3 d-none d-xl-block  text-center">
                                    <a href=""><img class=" w-75" src="../lib/img/add/img_01.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--  end left Some Product-->
                        <!--  right Some Product-->
                        <div class="col-xl-3 ">
                            <p class=" text-warning fw-bold fs-5 border-bottom py-2 ">List products</p>
                            <div class="card mb-4">
                                <a href="courseDetail.html" class="row g-0 bacl d-flex align-items-center px-2 nav-link link-dark  ">
                                    <div class="col-md-4">
                                        <img src="../lib/img/product/img_143.png" class="img-fluid rounded-start w-100" alt="...">

                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body position-relative">
                                            <div class="position-absolute top-0 end-0 mt-1">
                                                <span class="badge rounded-pill  text-bg-danger">25% off</span>
                                            </div>
                                            <span class="text-warning ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                            <h6 hclass="card-title"> MSI</h6>
                                            <p class="card-text">

                                                <div class=" d-flex">
                                                    <p class="text-danger fw-medium">$30.52</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder ">$45.52</span>
                                                </div>
                                            </p>

                                        </div>
                                    </div>

                                </a>
                            </div>
                            <div class="card mb-4 ">
                                <a href="courseDetail.html" class="row g-0 bacl d-flex align-items-center px-2 nav-link link-dark  ">

                                    <div class="col-md-8">
                                        <div class="card-body position-relative d-block  text-end">
                                            <div class="position-absolute top-0 start-0 mt-1">
                                                <span class="badge rounded-pill text-bg-danger">25% off</span>
                                            </div>
                                            <span class="text-warning ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                            <h6 hclass="card-title"> MSI</h6>
                                            <p class="card-text">

                                                <div class=" d-flex justify-content-end">
                                                    <p class="text-danger fw-medium">$30.52</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder ">$45.52</span>
                                                </div>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="../lib/img/product/img_144.png" class="img-fluid rounded-start w-100" alt="...">

                                    </div>
                                </a>
                            </div>
                            <div class="card mb-4">
                                <a href="courseDetail.html" class="row g-0 bacl d-flex align-items-center px-2 nav-link link-dark  ">
                                    <div class="col-md-4">
                                        <img src="../lib/img/product/img_145.png" class="img-fluid rounded-start w-100" alt="...">

                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body position-relative">
                                            <div class="position-absolute top-0 end-0 mt-1">
                                                <span class="badge rounded-pill text-bg-danger">25% off</span>
                                            </div>
                                            <span class="text-warning ">
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-solid fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                                <i class="fa-regular fa-star fa-2xs"></i>
                                            </span>
                                            <h6 hclass="card-title"> MSI</h6>
                                            <p class="card-text">

                                                <div class=" d-flex">
                                                    <p class="text-danger fw-medium">$30.52</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder ">$45.52</span>
                                                </div>
                                            </p>

                                        </div>
                                    </div>

                                </a>
                            </div>
                        </div>
                        <!-- end right Some Product-->
                    </div>
                </div>
            </div>
            <!-- end Some Product  -->
            <!-- new product -->
            <div class="col-12  p-0">
                <div class="container-fluid">
                    <p class="text-warning fs-4 fw-bold   border-bottom py-2">Product <sup class=" text-danger text-bo fw-bold">(New)</sup></p>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col" ng-repeat="val in listPro |limitTo : 8  | orderBy: '$index':true  " >
                            <div class="card h-100">
                             
                                
                                    <img src="{{val.image}}" class="card-img-top w-50 m-auto"  alt="...">
                                    <div class="card-body">
                                        <div class="card-text d-flex align-items-center ">
                                            <span class="text-warning  ">
                                            <i class="fa-solid fa-star fa-2xs"></i>
                                            <i class="fa-solid fa-star fa-2xs"></i>
                                            <i class="fa-solid fa-star fa-2xs"></i>
                                            <i class="fa-regular fa-star fa-2xs"></i>
                                            <i class="fa-regular fa-star fa-2xs"></i>
                                        </span>
                                            <p class="text-bo ms-3 text-dark mt-3 opacity-50 ">
                                                (126) Review
                                            </p>
                                        </div>
                                        <h6 hclass="card-title"> <a href="#!/product/{{val.id}}" class="card-title fw-medium fs-6 nav-link">{{val.name | uppercase}}</a></h6>
                                        <p class="card-text text-bo mt-3">
                                            <span class="text-dark opacity-50">Available:</span> 334
                                        </p>
                                        <div class=" d-flex">
                                            <p class="text-danger fw-medium">{{val.price - (val.price * val.sale/100)  |currency }}</p> <span class="ms-3 text-decoration-line-through text-dark opacity-50 fw-bolder " ng-if="val.sale != 0 ">{{val.price |currency}}</span>
                                        </div>

                                    </div>
                                
                            </div>
                        </div>
                     
                    </div>
                </div>

            </div>
            <!--end new product -->
        </div>
        <div class="row mx-5">
            <!-- begin blog & news  -->
            <div class="container my-5 ">
                <div class="col-12 text-center">
                    <mark class="rounded-pill px-3 ">Top Class Courses</mark>
                    <h4 class="my-2">Explore Our World's Best Courses</h4>
                    <p class="lead">When known printer took a galley of type scrambl edmake</p>
                </div>

                <div class="container">
                    <div class="row mt-3">
                        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                            <div class="card p-3">
                                <div class="font-10 position-relative">
                                    <img src="../lib/img/news/img_13.jpg" class="card-img-top" alt="...">

                                </div>
                                <div class="card-body p-0">
                                    <div class="my-2">
                                        <small><i class="fa-regular fa-calendar me-2 " style="color: #74C0FC;"></i>20 July, 2024</small>
                                        <small><i class="fa-regular fa-circle-user ms-3 me-2" style="color: #74C0FC;"></i>20 July,
                  2024</small>
                                    </div>
                                    <a href="courseDetail.html" class="card-title fw-bold fs-6">How To Become idiculously Self-Aware In 20 Minutes</a>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                            <div class="card p-3">
                                <div class="font-10 position-relative">
                                    <img src="../lib/img/news/img_12.jpg" class="card-img-top" alt="...">

                                </div>
                                <div class="card-body p-0">
                                    <div class="my-2">
                                        <small><i class="fa-regular fa-calendar me-2 " style="color: #74C0FC;"></i>20 July, 2024</small>
                                        <small><i class="fa-regular fa-circle-user ms-3 me-2" style="color: #74C0FC;"></i>20 July,
                  2024</small>
                                    </div>
                                    <a href="courseDetail.html" class="card-title fw-bold fs-6">How To Become idiculously Self-Aware In 20 Minutes</a>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                            <div class="card p-3">
                                <div class="font-10 position-relative">
                                    <img src="../lib/img/news/img_11.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body p-0">
                                    <div class="my-2">
                                        <small><i class="fa-regular fa-calendar me-2 " style="color: #74C0FC;"></i>20 July, 2024</small>
                                        <small><i class="fa-regular fa-circle-user ms-3 me-2" style="color: #74C0FC;"></i>20 July,
                  2024</small>
                                    </div>
                                    <a href="courseDetail.html" class="card-title fw-bold fs-6">How To Become idiculously Self-Aware In 20 Minutes</a>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                            <div class="card p-3">
                                <div class="font-10 position-relative">
                                    <img src="../lib/img/news/img_14.jpg" class="card-img-top" alt="...">

                                </div>
                                <div class="card-body p-0">
                                    <div class="my-2">
                                        <small><i class="fa-regular fa-calendar me-2 " style="color: #74C0FC;"></i>20 July, 2024</small>
                                        <small><i class="fa-regular fa-circle-user ms-3 me-2" style="color: #74C0FC;"></i>20 July,
                  2024</small>
                                    </div>
                                    <a href="courseDetail.html" class="card-title fw-bold fs-6">How To Become idiculously Self-Aware In 20 Minutes</a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end blog & news  -->
        </div>
    </div>
</main>